<link rel="stylesheet" href="/assets/css/dataTables.min.css" />
<h2>Subject</h2>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Information</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form>
        <div class="container-fluid">
            <div class="box-body">
                <input id="id" hidden />
                <div class="row" style="margin-bottom:30px;">
                    <div class="col-md-1">
                        <a class="btn btn-success" (click)="showModal($event,modal)"><i class="fa fa-plus"></i> <span>Add New Subject</span></a>
                    </div>
                </div>
                <div class="row">
                    <table datatable class="table table-bordered table-hover table-striped">
                      <thead>
                        <tr>
                          <th>No.</th>
                          <th>Name</th>
                          <th>Number Lesson</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of subjects">
                          <th>{{row.subjectid}}</th>
                          <th>{{row.subjectname}}</th>
                          <td>{{row.numberlesson}}</td>
                          <td>
                            <a class="edit" (click)="showModal($event, row.subjectid)"><i class="fa fa-pencil-square-o" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                            <a class="delete" (click)="showDeleteModal($event, row.subjectid)" style="margin-left: 20px;"><i class="fa fa-trash-o" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Add, Edit-->
<form #frm="ngForm">
    <div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="dialog-sizes-name1" class="modal-title">{{subject.subjectid === undefined || subject.subjectid === 0 ? 'Add New subject' : 'Edit subject information'}}</h4>
              <!-- <button type="button" class="close pull-right" (click)="modal.hide()" aria-label="Close">
                <span aria-hidden ="true">&times;</span>
              </button> -->
            </div>
            <div class="modal-body">
              <!-- txtsubjectname -->
              <div class="row form-group">
                <div class="col-md-3">
                  <label for="txtsubjectname">Name</label>
                </div>
                <div class="col-md-9">
                  <input required #txtsubjectname="ngModel" type="text" name="subjectname" class="form-control" id="txtsubjectname" placeholder="Enter subject name" [(ngModel)]="subject.subjectname"/>
                  <div class="row">
                      <div class="col-md-9 text-danger" *ngIf="txtsubjectname.touched">
                          <div *ngIf="txtsubjectname.errors?.required">Name is required!</div>
                      </div>
                      <div class="col-md-3"></div>
                    </div>
                </div>
              </div>
              <!-- /txtName -->
              <!-- txtnumberoflesson -->
              <div class="row form-group">
                <div class="col-md-3">
                    <label for="exampleFormControlSelect1">Lesson Amount</label></div>
                <div class="col-md-9">
                  <input 
                      type="number" 
                      min="1" 
                      max="255" 
                      step="1" 
                      class="form-control" 
                      name="subjectstatus" 
                      id="exampleFormControlSelect1" 
                      [(ngModel)]="subject.numberlesson"
                  /></div>
              </div>
              <!-- /txtnumberoflesson -->
            </div>
            <div class="modal-footer">
                <input 
                    type="submit" class="btn btn-success" 
                    (click)="save()" 
                    [disabled]="frm.invalid"
                    value="{{subject.subjectid === undefined || subject.subjectid === 0 ? 'Add' : 'Update'}}"
                />
                <input 
                    type="button" 
                    class="btn btn-default" 
                    (click)="modal.hide()" 
                    value="Cancel"
                />
            </div>
          </div>
        </div>
      </div>
</form>
<!-- Delete Modal HTML -->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog">
  <div class="modal-content">
        <form>
            <div class="modal-header">
                <h4 class="modal-title">Delete Subject</h4>
                <!-- <button type="button" class="close" (click)="deleteModal.hide()" data-dismiss="modal" aria-hidden="true">×</button> -->
            </div>
            <div class="modal-body">
                <p class="text-warning">Are you sure you want to delete this Record?</p>
                <!-- <p class="text-warning"><small>This action cannot be undone.</small></p> -->
            </div>
            <div class="modal-footer">
                <button (click)="delete(subject.subjectid)" class="btn btn-danger">Delete</button>
                <button (click)="deleteModal.hide()" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
</div>
