<div id="modalForm" class="modal fade w-100" role="form">
        <div class="modal-dialog-centered modal-width">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create new lecturer</h4>
                </div>
                <div class="modal-body">
                        <form #lecturerForm="ngForm" (ngSubmit)="onSubmit()">
                                <div class="box-body">
                                    <input id="id" hidden name="id" [(ngModel)]="user.UserID"/>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="row">
                                                <div class="form-group col-sm-12 col-md-12">
                                                    <p for="txtLastName" class="col-sm-2 col-md-3 col control-p">Last Name</p>
                            
                                                    <div class="col-sm-10 col-md-9">
                                                        <input type="text" class="form-control" id="txtLastName" placeholder="" [(ngModel)]="user.LastName" name="LastName">
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <div class="row">
                                                <div class="form-group col-sm-12 col-md-12">
                                                    <p for="txtFirstName" class="col-sm-2 col-md-3 col control-p">First Name</p>
                            
                                                    <div class="col-sm-10 col-md-9">
                                                        <input type="text" class="form-control" id="txtFirstName" placeholder="" [(ngModel)]="user.FirstName" name="FirstName">
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <div class="row">
                                                <div class="form-group col-sm-12 col-md-12">
                                                    <p for="gender" class="col-sm-2 col-md-3 col control-p">Gender</p>
                            
                                                    <div class="col-sm-10 col-md-9">
                                                        <input type="radio" name="gender" value="1" checked [(ngModel)]="user.Gender"> Male
                                                        <input type="radio" name="gender" value="2" [(ngModel)]="user.Gender"> Female
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="form-group col-sm-12 col-md-12">
                                                    <p for="txtIdentityNumber" class="col-sm-2 col-md-3 col control-p">Identity Number</p>
                            
                                                    <div class="col-sm-10 col-md-9">
                                                        <input type="text" class="form-control" id="txtIdentityNumber" placeholder="" [(ngModel)]="user.IdentityNumber" name="IdentityNumber">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-sm-12 col-md-12">
                                                    <p for="datepicker" class="col-sm-2 col-md-3 control-p">Date of birth</p>
                            
                                                    <div class="col-sm-10 col-md-9">
                                                        <div class="input-group date">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                            <input type="date" class="form-control pull-left" id="dtpDateofBirth" style="width:242px" [(ngModel)]="user.DOB" name="DOB">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <div class="row">
                                                <div class="form-group col-sm-12 col-md-12">
                                                    <p for="txtAddress" class="col-sm-2 col-md-3 control-p">Address</p>
                            
                                                    <div class="col-sm-10 col-md-9">
                                                        <input type="text" class="form-control" id="txtAddress" placeholder="" [(ngModel)]="user.Address" name="Address">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                        
                                            <div class="row">
                                                <div class="form-group col-sm-12 col-md-12">
                                                    <p for="txtEmail" class="col-sm-2 col-md-3 control-p">Email</p>
                            
                                                    <div class="col-sm-10 col-md-9">
                                                        <input type="email" class="form-control" id="txtEmail" placeholder="" [(ngModel)]="user.Email" name="Email">
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <div class="row">
                                                <div class="form-group col-sm-12 col-md-12">
                                                    <p for="txtPhone" class="col-sm-2 col-md-3 control-p">Phone</p>
                            
                                                    <div class="col-sm-10 col-md-9">
                                                        <input type="text" class="form-control" id="txtPhone" placeholder="" [(ngModel)]="user.Phone" name="Phone">
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <div class="row">
                                                <div class="form-group col-sm-12 col-md-12">
                                                    <p for="drdownDegree" class="col-sm-2 col-md-3 control-p">Degree</p>
                            
                                                    <div class="col-sm-10 col-md-9">
                                                        <select class="form-control" id="drdownDegree"[(ngModel)]="lecturer.Degree" name="Degree">
                                                            <option value="1"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                    <div class="form-group col-sm-12 col-md-12">
                                                        <p for="drdownAcademic" class="col-sm-2 col-md-3 control-p">Academic</p>
                                                            
                                                        <div class="col-sm-10 col-md-9">
                                                            <select class="form-control" id="drdownAcademic"[(ngModel)]="lecturer.AcademicRank" name="AcademicRank">
                                                                <option value="1"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                            
                                            <div class="row">
                                                <div class="form-group col-sm-12 col-md-12">
                                                    <p for="dtpStartDate" class="col-sm-2 col-md-3 control-p">Start Date</p>
                            
                                                    <div class="col-sm-10 col-md-9">
                                                        <div class="input-group date">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                            <input type="date" class="form-control pull-left" id="dtpDateofBirth" style="width:242px" [(ngModel)]="lecturer.StartDay" name="StartDay">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                        
                                
                            </form>
                </div>
                <div class="modal-footer">
                    <div class="row justify-content-around">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default" id="btnClear">Clear</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success" id="btnSave" (click)="onSubmit()">Save</button>
                        </div>
                        <div class="col-sm-4">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
            
</div>