<div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">University Table</h3>
                <button type="button" class="btn btn-success pull-right" (click)="showModal('university')">Create</button>      
            </div>
            <div class="box-body">
                <table class="table table-border">
                    <thead>
                          <tr>
                              <th>
                                  <p>No</p>
                              </th>
                              <th>
                                  <p>University Name</p>
                              </th>                              
                              <th>
                  
                              </th>
                          </tr>
                    </thead>
                    
                    <tbody id="dataTable">
                      <tr *ngFor="let u of universities; let i=index">
                          <td>{{ i+1 }}</td>
                          <td>{{ u.name }}</td>
                          <td>                    
                              <a href="#" (click)="showModal('university', $event, u.id)"><i class="fa fa-edit text-primary"></i></a>
                          </td>
                          <td>                    
                              <a href="#" (click)="showDeleteModal('university', $event, u.id)"><i class="fa fa-remove text-danger"></i></a>
                          </td>
                      </tr>              
                    </tbody>
                </table>
              </div>
          </div>
                            
      <div bsModal #uniModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left">University</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="uniModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">University name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="university.name" placeholder="name">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="save('university')" class="btn btn-success">{{ (university.id === undefined || university.id === 0) ? 'Add':'Save'}}</button>
            </div>
          </div>
        </div>             
      </div>     
    </div>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Major Table</h3>
                <button type="button" class="btn btn-success pull-right" (click)="showModal('major')">Create</button>      
            </div>
            <div class="box-body">
                <table class="table table-border">
                    <thead>
                          <tr>
                              <th>
                                  <p>No</p>
                              </th>
                              <th>
                                  <p>Major Name</p>
                              </th>
                              <th>
                  
                              </th>
                          </tr>
                    </thead>
                    
                    <tbody id="dataTable">
                      <tr *ngFor="let m of majors; let i=index">
                          <td>{{ i+1 }}</td>
                          <td>{{ m.name }}</td>
                          <td>                    
                              <a href="#" (click)="showModal('major', $event, m.id)"><i class="fa fa-edit text-primary"></i></a>
                          </td>
                          <td>                    
                              <a href="#" (click)="showDeleteModal('major', $event, m.id)"><i class="fa fa-remove text-danger"></i></a>
                          </td>
                      </tr>              
                    </tbody>
                </table>
              </div>
          </div>

      <div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left">Confirm</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p hidden #object></p>
              <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="deleteModal.hide()">No</button>
              <button type="button" (click)="delete()" class="btn btn-danger">Yes</button>
            </div>
          </div>
        </div>
      </div>

      <div bsModal #majorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left">Major</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="majorModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Major name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="major.name" placeholder="name">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="save('major')" class="btn btn-success">{{ (major.id === undefined || major.id === 0) ? 'Add':'Save'}}</button>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>