<link rel="stylesheet" href="/assets/css/dataTables.min.css" />
<h2>Company</h2>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Information</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form>
        <div class="container-fluid">
            <div class="box-body">
                <input id="id" hidden />
                <div class="row" style="margin-bottom:30px;">
                  <div class="col-md-auto"></div>
                    <div class="col-md-auto ml-auto">
                        <button class="btn btn-success" (click)="showModal($event)"><i class="fa fa-plus"></i> <span>Add New Company</span></button>
                    </div>
                </div>
                <div class="row">
                    <table datatable class="table table-bordered table-hover table-striped">
                      <thead>
                        <tr>
                          <th>No.</th>
                          <th>Name</th>
                          <th>Phone</th>
                          <th>Contact Person</th>
                          <th>Address</th>
                          <th>Status</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of companies">
                          <th>{{row.companyid}}</th>
                          <td>{{row.companyname}}</td>
                          <td>{{row.phone}}</td>
                          <td>{{row.contectperson}}</td>
                          <td>{{row.diachi}}</td>
                          <td>{{row.status === 1 ? 'Co-operate' : 'Stop cooperating'}}</td>
                          <td>
                            <a class="edit" (click)="showModal($event, row.companyid)"><i class="fa fa-pencil-square-o" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                            <a class="delete" (click)="showDeleteModal($event, row.companyid)" style="margin-left: 20px;"><i class="fa fa-trash-o" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Add, Edit-->
<form #frm="ngForm">
        <div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 id="dialog-sizes-name1" class="modal-title">{{company.companyid === undefined || company.companyid === 0 ? 'Add New Company' : 'Edit company information'}}</h4>
                  <!-- <button type="button" class="close pull-right" (click)="modal.hide()" aria-label="Close">
                    <span aria-hidden ="true">&times;</span>
                  </button> -->
                </div>
                <div class="modal-body">
                  <!-- txtName -->
                  <div class="row form-group">
                    <div class="col-md-3">
                      <label for="txtName">Name</label>
                    </div>
                    <div class="col-md-9">
                      <input required #txtcompanyname="ngModel" type="text" name="companyname" class="form-control" id="txtName" placeholder="Enter company name" [(ngModel)]="company.companyname"/>
                      <div class="row">
                          <div class="col-md-9 text-danger" *ngIf="txtcompanyname.touched">
                              <div *ngIf="txtcompanyname.errors?.required">Name is required!</div>
                          </div>
                          <div class="col-md-3"></div>
                        </div>
                    </div>
                  </div>
                  <!-- /txtName -->
                  <!-- txtPhone -->
                  <div class="row form-group">
                    <div class="col-md-3">
                      <label for="txtPhone">Phone</label>
                    </div>
                    <div class="col-md-9">
                      <input 
                      required 
                      #txtphone="ngModel" 
                      pattern="[0-9]*" 
                      minlength="10"
                      maxlength="10"
                      type="text" 
                      name="companyphone" 
                      class="form-control" 
                      id="txtPhone" 
                      placeholder="Enter company phone" 
                      [(ngModel)]="company.phone"
                      >
                      <div class="row">
                        <div class="col-md-9 text-danger" *ngIf="txtphone.touched">
                          <div *ngIf="txtphone.errors?.required">Phone is required!</div></div>
                        <div class="col-md-3"></div></div>
                      <div class="row">
                        <div class="col-md-9 text-danger" *ngIf="txtphone.touched">
                          <div [hidden]="!txtphone?.hasError('minlength')">Invalid! Phone consist of 10 numbers</div></div>
                        <div class="col-md-3"></div>
                      </div>
                    </div>
                  </div>
                  <!-- /txtPhone -->
                  <!-- txtContactPerson -->
                  <div class="row form-group">
                    <div class="col-md-3">
                      <label for="txtContactPerson">Contact person</label>
                    </div>
                    <div class="col-md-9">
                      <input required #txtcontactperson="ngModel" type="text" name="contactperson" class="form-control" id="txtContactPerson" placeholder="Enter contact person name" [(ngModel)]="company.contectperson">
                      <div class="row">
                          <div class="col-md-9 text-danger" *ngIf="txtcontactperson.touched">
                              <div *ngIf="txtcontactperson.errors?.required">Contact person is required!</div>
                          </div>
                          <div class="col-md-3"></div>
                        </div>
                    </div>
                  </div>
                  <!-- /txtContactPerson -->
                  <!-- txtAddress -->
                  <div class="row form-group">
                    <div class="col-md-3">
                      <label for="txtAddress">Address</label>
                    </div>
                    <div class="col-md-9">
                      <input required #txtaddress="ngModel" type="text" name="companyaddress" class="form-control" id="txtAddress" placeholder="Enter company address" [(ngModel)]="company.diachi">
                      <div class="row">
                          <div class="col-md-9 text-danger" *ngIf="txtaddress.touched">
                              <div *ngIf="txtaddress.errors?.required">Address is required!</div>
                          </div>
                          <div class="col-md-3"></div>
                        </div>
                    </div>
                  </div>
                  <!-- /txtAddress -->
                  <!-- txtStatus -->
                  <div class="row form-group">
                    <div class="col-md-3">
                        <label for="exampleFormControlSelect1">Status</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" name="companystatus" id="exampleFormControlSelect1" [(ngModel)]="company.status">
                          <option value="1">Co-operate</option>
                          <option value="0">Stop cooperating</option>
                        </select>
                      </div>
                  </div>
                  <!-- /txtStatus -->
                </div>
                <div class="modal-footer">
                    <input 
                    type="submit" 
                    class="btn btn-success" 
                    (click)="save()" 
                    [disabled]="frm.invalid"
                    value="{{company.companyid === undefined || company.companyid === 0 ? 'Add' : 'Update'}}">
                    <input type="button" class="btn btn-default" (click)="modal.hide()"  value="Cancel">
                </div>
              </div>
            </div>
          </div>
</form>
<!-- Delete Modal HTML -->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog">
      <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Company</h4>
                    <!-- <button type="button" class="close" (click)="deleteModal.hide()" data-dismiss="modal" aria-hidden="true">×</button> -->
                </div>
                <div class="modal-body">
                    <p class="text-warning">Are you sure you want to delete this Record?</p>
                    <!-- <p class="text-warning"><small>This action cannot be undone.</small></p> -->
                </div>
                <div class="modal-footer">
                    <button (click)="delete(company.companyid)" class="btn btn-danger">Delete</button>
                    <button (click)="deleteModal.hide()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
