<link rel="stylesheet" href="/assets/css/dataTables.min.css" />
<h2>Worktrack</h2>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Information</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form>
        <div class="container-fluid">
            <div class="box-body">
                <input id="id" hidden />
                <div class="row" style="margin-bottom:30px;">
                    <div class="col-md-1">
                        <a class="btn btn-success" (click)="showModal($event)"><i class="fa fa-plus"></i> <span>Add New Worktrack</span></a>
                    </div>
                </div>
                <div class="row">
                    <table datatable class="table table-bordered table-hover table-striped">
                      <thead>
                        <tr>
                          <th>No.</th>
                          <th>CompanyId</th>
                          <th>IdStudent</th>
                          <th>StartDate</th>
                          <th>ContractDate</th>
                          <th>Status</th>
                          <th>Note</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of worktracks">
                          <th>{{row.id}}</th>
                          <th>{{row.companyid}}</th>
                          <td>{{row.idstudent}}</td>
                          <td>{{row.startdate}}</td>
                          <td>{{row.contractdate}}</td>
                          <td>{{row.status === 1 ? 'Working' : 'Stopped'}}</td>
                          <td>{{row.note}}</td>
                          <td>
                            <a class="edit" (click)="showModal($event,row.id)"><i class="fa fa-pencil-square-o" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                            <a class="delete" (click)="showDeleteModal($event,row.id)" style="margin-left: 20px;"><i class="fa fa-trash-o" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Add, Edit-->
<form #frm="ngForm">
        <div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 id="dialog-sizes-name1" class="modal-title">{{worktrack.id === undefined || worktrack.id === 0 ? 'Add New Worktrack' : 'Edit worktrack information'}}</h4>
                  <!-- <button type="button" class="close pull-right" (click)="modal.hide()" aria-label="Close">
                    <span aria-hidden ="true">&times;</span>
                  </button> -->
                </div>
                <div class="modal-body">
                  <!-- txtCompanyId -->
                  <div class="row form-group">
                    <div class="col-md-3">
                      <label for="txtCompanyId">Company ID</label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" #checkCompany="ngModel" class="form-control" id="txtCompanyId" placeholder="Enter company ID" [(ngModel)]="worktrack.companyid" name="worktrackcompanyid">
                      <!-- <select 
                          id="txtCompanyId"
                          class="form-control" 
                          name="worktrackcompany"
                          required 
                          [(ngModel)]="selectedValue"
                          #checkCompany="ngModel"
                      >
                        <option value="">Choose a company name</option>
                        <option *ngFor="let opt of companies" [ngValue]="opt">{{opt.companyname}}</option>
                      </select> -->
                      <div class="row">
                          <div class="col-md-9 text-danger" *ngIf="checkCompany.touched">
                            <div *ngIf="checkCompany.errors?.required">Company is required</div></div>
                          <div class="col-md-3"></div></div>
                    </div>
                  </div>
                  <!-- /txtCompanyId -->
                  <!-- txtIdStudent -->
                  <div class="row form-group">
                    <div class="col-md-3">
                      <label for="txtIdStudent">ID Student</label>
                    </div>
                    <div class="col-md-9">
                      <input 
                          type="text" 
                          #checkStudent="ngModel" 
                          class="form-control" 
                          id="txtIdStudent" 
                          placeholder="Enter ID student" 
                          [(ngModel)]="worktrack.idstudent" 
                          name="worktrackidstudent"
                      />
                      <div class="row">
                        <div class="col-md-9 text-danger" *ngIf="checkStudent.touched">
                          <div *ngIf="checkStudent.errors?.required">Student is required</div></div>
                        <div class="col-md-3"></div></div>
                    </div>
                  </div>
                  <!-- /txtIdStudent -->
                  <!-- txtStartDate -->
                  <div class="row form-group">
                    <div class="col-md-3">
                      <label for="txtStartDate">Start date</label>
                    </div>
                    <div class="col-md-9">
                      <input 
                          type="date" 
                          #chechStartDate="ngModel" 
                          [(ngModel)]="worktrack.startdate" 
                          name="worktrackstartdate" 
                          class="form-control" 
                          id="txtStartDate" 
                          placeholder="Enter start date"
                          (ngModelChange)="worktrack.startdate = $event"
                      />
                      <div class="row">
                        <div class="col-md-9 text-danger" *ngIf="chechStartDate.touched">
                          <div *ngIf="chechStartDate.errors?.required">Start date is required</div></div>
                        <div class="col-md-3"></div></div>
                    </div>
                  </div>
                  <!-- /txtStartDate -->
                  <!-- txtContractDate -->
                  <div class="row form-group">
                    <div class="col-md-3">
                      <label for="txtContractDate">Contract date</label>
                    </div>
                    <div class="col-md-9">
                      <input type="date" #checkContractDate="ngModel" class="form-control" id="txtContractDate" placeholder="Enter contract date" [(ngModel)]="worktrack.contractdate" name="worktrackcontractdate">
                      <div class="row">
                          <div class="col-md-9 text-danger" *ngIf="checkContractDate.touched">
                            <div *ngIf="checkContractDate.errors?.required">Contract date is required</div></div>
                          <div class="col-md-3"></div></div>
                    </div>
                  </div>
                  <!-- /txtContractDate -->
                  <!-- txtStatus -->
                  <div class="row form-group">
                    <div class="col-md-3">
                      <label for="exampleFormControlSelect1">Status</label>
                    </div>
                    <div class="col-md-9">
                      <select class="form-control" name="worktrackstatus" id="exampleFormControlSelect1" required [(ngModel)]="worktrack.status">
                        <option value="1">Working</option>
                        <option value="0">Stopped</option>
                      </select>
                    </div>
                  </div>
                  <!-- /txtStatus -->
                  <!-- txtNote -->
                  <div class="row form-group">
                    <div class="col-md-3">
                      <label for="txtNote">Note</label>
                    </div>
                    <div class="col-md-9">
                      <textarea cols="10" name="worktracknote" class="form-control" id="txtNote" placeholder="Enter note" [(ngModel)]="worktrack.note"></textarea>
                    </div>
                  </div>
                  <!-- /txtNote -->
                <div class="modal-footer">
                    <input 
                    type="submit" 
                    class="btn btn-success" 
                    (click)="save()" 
                    [disabled]="frm.invalid"
                    value="{{worktrack.id === undefined || worktrack.id === 0 ? 'Add' : 'Update'}}">
                    <input type="button" class="btn btn-default" (click)="modal.hide()"  value="Cancel">
                </div>
              </div>
            </div>
          </div>
        </div>
</form>
<!-- Delete Modal HTML -->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog">
      <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Company</h4>
                    <!-- <button type="button" class="close" (click)="deleteModal.hide()" data-dismiss="modal" aria-hidden="true">×</button> -->
                </div>
                <div class="modal-body">
                    <p class="text-warning">Are you sure you want to delete this Record?</p>
                    <!-- <p class="text-warning"><small>This action cannot be undone.</small></p> -->
                </div>
                <div class="modal-footer">
                    <button (click)="delete(worktrack.id)" class="btn btn-danger">Delete</button>
                    <button (click)="deleteModal.hide()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>