
<script src="~/Content/admin-lte/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<!-- /.box -->
<div class="box">
  <div class="box-header with-border">
      <h3 class="box-title">Lecturer Table</h3>
  </div>
  <div class="box-body">
      <table class="table table-border">
          <tr>
              <th>
                  <p>No</p>
              </th>
              <th>
                  <p>Last Name</p>
              </th>
              <th>
                  <p>First Name</p>>
              </th>
              <th>
                  <p>Degree</p>
              </th>
              <th>
                  <p>Gender</p>
              </th>
              <th>
                  <p>Date of Birth</p>
              </th>
              <th>
                  <p>Address</p>
              </th>
              <th>
                  <p>Email</p>
              </th>
              <th>
                  <p>Phone</p>
              </th>
              <th>

              </th>
          </tr>
          <tbody id="dataTable">
              <tr>
                  <td>1</td>
                  <td>Tran Nguyen Thanh</td>
                  <td>Huy</td>
                  <td>Dr. Phil</td>
                  <td>Male</td>
                  <td>05/05/1987</td>
                  <td>23 CMT8, District 1, HCMC</td>
                  <td>huytran87@gmail.com</td>
                  <td>0123456789</td>
                  <td>
                      <button class="btn btn-warning">Edit</button>
                      <button class="btn btn-danger">Delete</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>


